:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     216,218,218;
--color-neutral-100:    177,180,180;
--color-neutral-200:    138,143,143;
--color-neutral-300:    100,104,104;
--color-neutral-400:    63,65,65;
--color-neutral-500:    25,26,26;
--color-neutral-600:    5,5,5;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    245,236,215;
--color-primary-500:    229,208,154;
--color-primary-600:    221,193,122;
--color-primary-700:    212,178,89;
--color-primary-800:    204,163,57;
--color-primary-900:    175,138,45;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,225,213;
--color-secondary-400:    255,171,137;
--color-secondary-500:    255,116,60;
--color-secondary-600:    255,87,19;
--color-secondary-700:    233,67,0;
--color-secondary-800:    193,55,0;
--color-secondary-900:    152,44,0;
}
